*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
background-color: rgb(31, 30, 30);


}

header .nav-bar{
    width: 75%;
}

header .nav-bar nav{
    justify-content: space-between;
    display: flex;
    /* width: 100%; */
}

header .nav-bar nav ul{
    display: flex;
}

header .nav-bar nav ul li{
    list-style-type: none;
    padding: 0% 10px;
}

header .nav-bar nav ul li a{
    text-decoration: none;
    line-height: 5;
    color: #fff;
}

header .icon i{
padding: 0% 10px;
line-height: 4;
font-size: 20px;
color: #fff;
}

header .logo img{
margin: 10px;
width: 70%;
}

.img-fluid{
background-image: url(img/car.jpg);
height: 1000px;
background-repeat: no-repeat;
background-size: cover;

}



